@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

section{
  background-color: #262B40 ;
  color:white;
}
.container{
  background-color: #262B40;
  padding: 20px;
}
.card-container{
  background-color: #282d43 ;
}
.card{
  /* background-color: #3a3f53; */
  /* background-color: #2f354b; */
  background-color: #2d3348;
  cursor: pointer;
  border:none;
  outline:none;
}
.description{
  background-color: #363c52;
  padding: 10px;
  border-radius: 10px;
}
.card:hover{
  background-color:#313950 ;
   /* border: 2px solid rgb(54, 135, 159);  */
   border:1px solid #59B2F4; 
   box-shadow: 1px 1px 2px #59B2F4;
  
}

.social-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #2d2d2d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-btn:hover {
  background-color: #444;
}

.icon {
  font-size: 1.25rem;
}
.social-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #262B40; 
  color: white;
  font-size: 1.25rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  border: 2px solid #3a3f53;
}

.social-circle:hover {
  background-color: #313950; /* A bit lighter on hover */
  transform: scale(1.1);
}



@layer utilities {
  .hover-pop {
    /* border: 3px solid rgb(54, 135, 159);  */
    /* box-shadow: 2px 2px 3px 3px rgb(61, 141, 165) ; */
    box-shadow: 0px 10px 20px  rgb(61, 141, 165) ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .hover-pop:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(255, 192, 203, 0.4); /* soft pink glow */
  }
}
.about-me{
  /* color:#59B2F4; */
  /* color:#FF2E63; */
  color:#59B2F4;
}
/* bg-gradient-to-r from-pink-400 to-pink-600 */
a{
  text-decoration: none;
}